<% if user_signed_in? %>
    <div class="container" class="row top-buffer">
      <div class="row">
        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>Welcome to aNYCdote!</h1>
            <p>We can put a sick description about aNYCdote here or we can put a quote. Maybe replace the layout entirely!</p>
            <%= link_to "Explore NYC", anycdotes_path, class: "btn btn-default btn-lg" %>
          </div>  
        </div><!--/span-->    
      </div><!--/row-->
    </div><!--/.container-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="offcanvas.js"></script>
<% else %>
<script type="text/javascript">
    window.location.assign("/") 
  </script>
<% end %>
    