<% if user_signed_in? %>
    <div class="container" class="row top-buffer">
 
          <div class="jumbotron">
            <h1>Welcome to aNYCdote!</h1>
            <p>Get in touch with the soul of the city! Anycdote allows you to anonymously submit, read, and listen to stories of the people of New York. As you move from one neighborhood to the next, you hear the stories of people in that area. Start exploring today!</p>
            <%= link_to "Explore NYC", anycdotes_path, class: "btn btn-default btn-lg" %>
          </div>  
        </div><!--/span-->    
      </div><!--/row-->
    </div><!--/.container-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="offcanvas.js"></script>
<% else %>
<script type="text/javascript">
    window.location.assign("/") 
  </script>
<% end %>
    