// Place all the styles related to the anycdotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#anycdotes {
	margin: 0 auto;
	border: 1px solid black;
  height: 15px;
  padding: 12px;
  overflow: hidden;
}

.box {
	margin: 20px;
	width: 300px;
	height: 500px;
}

#boxselected {
	background: red;
}